<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}
<style>
      .card-img:hover
      {
        transform:scale(1.1);
      }
</style>
<div class="container-fluid" style="margin-top:200px;margin-bottom:200px;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;margin-left:230px;">
                <div class="card-img">
                <img src="{{p.image.url}}"height="280px"width="300px">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width:25rem;">
                <div class="card-body mt-5 mb-4" style="height:210px;">
                    <h5 class="card-title">Car Name:{{p.name}}</h5>
                    <p class="card-text">Rent/day: Rs.{{p.rent}}</p>
                    Available:{{p.stock}}
                    {% if user.is_superuser == False %}
                    {% if p.stock <= 0 %}
                    <h4>Out of Stock</h4>
                    {% else %}
                    <h4><a href="{% url 'order:booknow' p.name %}" class="btn btn-info mt-4" style="color:white;font-weight:bold;">Book Now</a></h4>
                    {% endif %}
                    {% else %}
                    {% if p.stock <= 0 %}
                    <h4>Out of Stock</h4>
                    <h4><a href="{% url 'admin:index' %}" class="btn btn-secondary">Add Stock</a></h4>
                    {% else %}
                    <h4>Product in Stock</h4>
                    <h4><a href="{% url 'admin:index' %}" class="btn btn-secondary">Add Stock</a></h4>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>