{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container-img
    {
      background-image:url("{% static 'images/bg22.jpg' %}");
      height:100vh;
      background-size:cover;
      background-attachment:fixed;
    }
</style>

<div class="container-img p-5 text-white">
<div class="container" style="height:380px;width:500px;padding-top:20px;margin-top:130px;">
<h1 class="text-center" style="font-family:cursive;">Order Details</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">Address</label>
        <input type="text" class="form-control" name="a" placeholder="Enter the Address:">
    </div>
    <div class="mb-3">
        <label  class="form-label">Phone</label>
        <input type="text" class="form-control" name="p" placeholder="Enter the Phone:">
    </div>
    <div class="mb-3">
        <label  class="form-label">Account Number</label>
        <input type="text" class="form-control" name="n" placeholder="Enter the AccountNumber:">
    </div>
        <button type="submit" class="btn btn-primary fw-bold" style="margin-left:200px;" >Submit</button>
</form>
</div>
</div>
{% endblock %}